/backend/bower_components/
/backend/node_modules/
/backend/.pulp-cache/
/backend/output/
/backend/generated-docs/
/backend/.psc-package/
/backend/.psc*
/backend/.purs*
/backend/.psa*
/backend/.spago
/frontend/bower_components/
/frontend/node_modules/
/frontend/.pulp-cache/
/frontend/output/
/frontend/generated-docs/
/frontend/.psc-package/
/frontend/.psc*
/frontend/.purs*
/frontend/.psa*
/frontend/.spago
/frontend/.cache/
/frontend/dist/
/frontend/index.js
